<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @forum.username %>
</p>

<p>
  <strong>Title:</strong>
  <%= @forum.title %>
</p>

<p>
  <strong>Thread:</strong>
  <%= @forum.thread %>
</p>
<h3>Comments</h3>
<%= form_for([@forum, @forum.comments.build]) do |fprm| %>
  <% if @forum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@forum.errors.count, "error") %> prohibited this forum from being saved:</h2>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :username %><br>
    <%= form.text_field :username %>
  </div>
  <div class="field">
    <%= form.label :title %><br>
    <%= form.text_area :title %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

