<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @forum.username %>
</p>

<p>
  <strong>Title:</strong>
  <%= @forum.title %>
</p>

<p>
  <strong>Thread:</strong>
  <%= @forum.thread %>
</p>
<h2>Add a comment:</h2>
<%= form_for([@forum, @forum.comments.build]) do |f| %>
  <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>